<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <!--
        RMI
    -->
    <!-- client -->
    <bean id="fileUtilService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1199/IFileUtilServer" />
        <property name="serviceInterface" value="jmi_upload.inter.FileUtil" />
    </bean>

    <bean id="fileUtilClient" class="jmi_upload.client.FileUtilClient">
        <property name="fileUtil" ref="fileUtilService" />
    </bean>

    <!--
        Hessian
    -->
    <!-- client -->
    <bean id="hessianServiceClient" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <!--hessian的地址和名称请求转发的名称-->
        <property name="serviceUrl">
            <value>http://127.0.0.1:8888/springON/helloHessian</value>
        </property>
        <!--hessian所要调用的接口-->
        <property name="serviceInterface">
            <value>hessian.IHello</value>
        </property>
    </bean>

    <!--
        burlap client
    -->
    <bean id="getFoodService"
          class="org.springframework.remoting.caucho.BurlapProxyFactoryBean">
        <property name="serviceInterface" value="burlap.client.FoodService"/>
        <property name="serviceUrl" value="http://127.0.0.1:8888/springON/foodService"/>
    </bean>

    <!--
        httpInvoker client
    -->
    <bean id="httpInvokerClent" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="http://127.0.0.1:8888/springON/httpInvokerService"/>
        <property name="serviceInterface" value="httpInvoker.HttpInvokerService"/>
    </bean>
</beans>